
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/115.0.5790.98.manifest
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/chrome_100_percent.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/chrome_200_percent.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/chrome_elf.dll
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/chrome_proxy.exe
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/chrome_pwa_launcher.exe
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/chrome_wer.dll
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/chrome.dll
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/chrome.exe
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/D3DCompiler_47.dll
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/elevation_service.exe
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/First Run
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/icudtl.dat
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/libEGL.dll
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/libGLESv2.dll
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/mojo_core.dll
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/nacl_irt_x86_64.nexe
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/notification_helper.exe
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/resources.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/v8_context_snapshot.bin
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/vk_swiftshader_icd.json
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/vk_swiftshader.dll
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/vulkan-1.dll
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/MEIPreload/manifest.json
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/MEIPreload/preloaded_data.pb
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/af.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/am.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/ar.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/bg.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/bn.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/ca.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/cs.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/da.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/de.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/el.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/en-GB.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/en-US.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/es-419.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/es.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/et.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/fa.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/fi.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/fil.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/fr.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/gu.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/he.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/hi.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/hr.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/hu.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/id.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/it.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/ja.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/kn.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/ko.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/lt.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/lv.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/ml.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/mr.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/ms.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/nb.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/nl.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/pl.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/pt-BR.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/pt-PT.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/ro.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/ru.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/sk.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/sl.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/sr.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/sv.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/sw.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/ta.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/te.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/th.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/tr.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/uk.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/ur.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/vi.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/zh-CN.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/locales/zh-TW.pak
.cache/puppeteer/chrome/win64-115.0.5790.98/chrome-win64/debug.log
